:root{
    --primary-color: crimson;
    --secondary-color:black;
    --tertiary-color:brown;
    --first-font-family:'Macondo', cursive;
    --second-font-family: 'Shadows Into Light', cursive;
}
.hero{
    background: cadetblue;
    text-align: center;
    padding: 120px 20px;
}
p{
    font-size: 45px;
    font-weight: bold;
    color: var(--tertiary-color);
}
.hero p{
    font-size: 36px;
    font-weight: bold;
}
.hero h1{
    font-weight: normal;
    font-size: 70px;
    line-height: 1.4px;
}
.hero h2{
    font-weight: normal;
    font-size: 30px;
    line-height: 1.4px;
    margin-top: 70px;
}
.btn-branding{
    background:var(--primary-color) ;
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
   }
   .btn-branding-outline{
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    border-radius: 4px;
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
   }
   .project-description{
       padding: 120px 60px;
       font-family: var(--second-font-family);
       font-size: 34px;
   }
   .about-paragraphs {
    display: flex;
    margin: 60px 150px;
    font-size: 26px;
    font-family: var(--first-font-family);
  }
  .about-paragraphs p {
    margin: 20px;
  }
  .email-link {
    text-align: center;
    display: block;
    color: var(--tertiary-color);
    text-decoration: none;
  }
  .email-link:hover {
    text-decoration: underline;
  }
  #contact{
   text-align: center;
  }
  @media (max-width:900px) {
    .hero h1{
        font-size: 40px;
        line-height: 2px;
    }
    
    .hero{
        padding: 60px 10px;
    }
    .project-description{
        padding: 0;
        text-align: center;
    }
    .hero h2{
        font-weight: normal;
        font-size: 20px;
        padding-top: 16px;
        
    }
}